#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
  }  

  .editor {
    display: flex;
    flex-direction: column;

    border: 1px solid #ccc;
    border-radius: 5px;

    height: 60vh;
    width: 100%;
    min-width: 50vw;
  };

  .editor textarea {
    height: 100%;

    flex: 1;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    resize: none;
  }